.lucky-wheel-navbar {
  background-image: url("/images/lucky-wheel/bg_navbar.png");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.lucky-wheel-navbar2 {
  background-image: url("/images/lucky-wheel/bg_navbar01.png");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.wheel-bg {
  background-image: url("/images/lucky-wheel/bg_01.png");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.free-spin {
  background-image: url("/images/lucky-wheel/bg_free_spin.png");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.lucky-wheel-wrapper {
  transform: rotate(90deg);
  transform-origin: left top;
  width: 100vh;
  height: 100vw;
  overflow-x: hidden;
  position: absolute;
  top: 100%;
  left: 0;
}

.wheel-wrapper {
  background-image: url("/images/lucky-wheel/wheelBg_03.png");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

@keyframes scale-up {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animate-heartbeat {
  animation: scale-up 0.9s ease-in-out infinite;
  -webkit-animation: scale-up 1s ease-in-out infinite;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-progress {
  animation: progress 2s ease-in-out forwards;
}
